<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="team.cont.tvassistant">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/log2"
        android:label="TVAssistant"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="Реєстрація"/>
        <activity
            android:name=".GlobalActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_global"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".SettingsActivity"
            android:label="Налаштування">
        </activity>
        <activity
            android:name=".ListActivity"
            android:label="Списки">
        </activity>
        <activity
            android:name=".VideoActivity"
            android:label="@string/title_activity_video"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".WebActivity">
        </activity>
        <activity
            android:name=".LookedActivity"
            android:label="Переглянуті">
        </activity>
        <activity
            android:name=".SavedActivity"
            android:label="Збережені">
        </activity>
        <activity
            android:name=".CreateCommentActivity"
            android:label="Створення коментаря">
        </activity>
        <activity
            android:name=".EditCommentActivity"
            android:label="Редагування коментаря">
        </activity>
        <activity
            android:name=".CreateListActivity"
            android:label="Створення нового списку">
        </activity>
        <activity android:name=".VideoListActivity">
        </activity>
        <activity android:name=".DescInfoActivity">
        </activity>
        <activity android:name=".ListsInVideoActivity">
        </activity>
        <activity android:name=".SearchActivity">
        </activity>
        <activity android:name=".StatisticActivity">
        </activity>
    </application>

</manifest>